Repository EliJaghab/tunemeld: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy-type-check
        entry: make lint
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-check
        name: ruff-check
        entry: make ruff-check
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-fix
        name: ruff-fix
        entry: make ruff-fix
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: make ruff-format
        language: system
        pass_filenames: false
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|md|html)$
        exclude: |
          (?x)^(
            node_modules/.*|
            venv/.*
          )$

  - repo: local
    hooks:
      - id: clear-python-cache
        name: Clear Python cache files
        entry: make clean-cache
        language: system
        pass_filenames: false
        always_run: true

      - id: django-check
        name: Django initialization check
        entry: make django-check
        language: system
        pass_filenames: false

      - id: django-import-check
        name: Django management command import test
        entry: make django-import-check
        language: system
        pass_filenames: false

      - id: check-pip-dependencies
        name: Check pip dependency compatibility
        entry: bash -c "cd django_backend && source venv/bin/activate && python -m pip install --dry-run -e .."
        language: system
        pass_filenames: false
        verbose: false

      - id: python-import-check
        name: Python import validation
        entry: python -m py_compile
        language: python
        language_version: python3.13
        types: [python]
        exclude: |
          (?x)^(
            venv/.*|
            .venv/.*|
            .*/migrations/.*
          )$

      - id: backend-startup-check
        name: Backend startup validation
        entry: make backend-startup-check
        language: system
        pass_filenames: false

fix: remove redundant static file routing for Vercel deployment
  vercel.json
Due: none

fix: add SPA fallback routing for static files
  vercel.json
Due: none

fix: remove filesystem handle from routing config
  vercel.json
Due: none

fix: use root package.json for Vercel build with correct distDir
  vercel.json
Due: none

fix: disable collectstatic during function execution to prevent crashes
  api/index.py
  backend/core/settings.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: simplify Django configuration for serverless deployment
  backend/core/settings.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: add static file serving for correct MIME types
  backend/core/urls.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: use safer static file path resolution
  backend/core/urls.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: remove static file serving to fix 500 errors
  backend/core/urls.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

feat: implement Cloudflare Pages + Vercel API architecture
  .github/workflows/cloudflare-pages.yml
  backend/core/settings.py
  backend/core/urls.py
  frontend/src/config/config.ts
  vercel.json
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

feat: add Infrastructure as Code for Cloudflare Pages
  .github/workflows/cloudflare-pages-config.yml
  cloudflare-pages.json
Due: none

fix: update GraphQL endpoint path for production API
  frontend/src/services/graphql-client.ts
Due: none

fix: add missing cloudflare dependencies to requirements.txt
  requirements.txt
Due: none

fix: improve error handling and debugging for Cloudflare Pages config workflow
  .github/workflows/cloudflare-pages-config.yml
Due: none

security: prevent credential exposure in Cloudflare workflow logs
  .github/workflows/cloudflare-pages-config.yml
Due: none

feat: Add verbose logging to Cloudflare Pages build workflow for debugging
  .github/workflows/cloudflare-pages.yml
Due: none

feat: implement Redis caching for GraphQL performance optimization
  .gitignore
  backend/core/services/spotify_service.py
  backend/core/settings.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: add missing ETL dependencies to GitHub Actions workflows
  .github/workflows/play_count.yml
  .github/workflows/playlist_etl.yml
  backend/domain_types/types.py
  frontend/src/components/playlist.ts
  frontend/src/components/playlistHeader.ts
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: resolve database migration conflicts in production
  backend/core/migrations/0002_rename_play_count_models.py
  frontend/src/components/playlist.ts
Due: mypy, ruff-check, ruff-fix, ruff-format

fix: handle database migration state sync between production and development
  Makefile
  backend/core/migrations/0002_rename_play_count_models.py
Due: mypy, ruff-check, ruff-fix, ruff-format

clarify: add comment about Django models exports
  backend/core/models/__init__.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

refactor: remove auto-generation system and clean up legacy code
  backend/core/api/genre_service_api.py
  backend/core/management/commands/playlist_etl_modules/e_clear_and_warm_track_cache.py
  backend/domain_types/types.py
  backend/static/components/playlist.js
  backend/static/components/playlistHeader.js
  backend/static/config/config.js
  backend/static/config/constants.js
  backend/static/services/graphql-client.js
  frontend/build.js
  frontend/src/components/playlist.ts
  frontend/src/config/constants.ts
  frontend/src/services/graphql-client.ts
  frontend/src/types/index.ts
  gql/track.py
  main_fastapi_standalone.py.bak
  package-lock.json
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: correct model imports in playlist ETL cron job
  .github/workflows/playlist_etl.yml
Due: none

fix: correct all model imports in playlist ETL workflow
  .github/workflows/playlist_etl.yml
Due: none

fix: remove debug logs from playlist components
  backend/static/components/playlist.js
  frontend/src/components/playlist.ts
Due: none

feat: add symlinks for Apple Music and Tunemeld logos
  backend/static/images/apple_music_logo.png
  backend/static/images/tunemeld.png
Due: none

fix: increase API timeout and convert all images to symlinks
  backend/core/utils/rapid_api_client.py
  backend/static/images/genre-country.png
  backend/static/images/genre-dance.png
  backend/static/images/genre-pop.png
  backend/static/images/genre-rap.png
  backend/static/images/moon.svg
  backend/static/images/soundcloud_logo.png
  backend/static/images/spotify_logo.png
  backend/static/images/sun.svg
  backend/static/images/youtube_logo.png
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

refactor: inline Cloudflare Pages config and remove duplicate file
  .github/workflows/cloudflare-pages-config.yml
  cloudflare-pages.json
Due: none

feat: enable cache warming for ultra-fast production performance
  backend/core/settings.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

debug: temporarily disable cache warming to fix Vercel deployment
  backend/core/settings.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

BREAKTHROUGH: fix Vercel serverless Django deployment
  backend/core/settings.py
  backend/core/wsgi.py
  vercel.json
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

perf: disable startup cache warming for serverless optimization
  CLAUDE.md
  README.md
  backend/core/settings.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

perf: eliminate N+1 GraphQL query for track button labels
  backend/core/apps.py
  backend/core/settings.py
  frontend/src/components/playlist.ts
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

feat: add deployment cache warming workflow
  .github/workflows/deployment-cache-warming.yml
Due: none

fix: enhance cache warming to eliminate N+1 GraphQL button label queries
  backend/core/management/commands/playlist_etl_modules/e_clear_and_warm_track_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: correct requirements.txt path in deployment cache warming workflow
  .github/workflows/deployment-cache-warming.yml
Due: none

refactor: remove fallback logic and improve error handling
  backend/core/management/commands/warm_cache.py
  frontend/src/components/playlist.ts
  frontend/src/components/rankButton.ts
  frontend/src/components/servicePlayer.ts
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check
