Repository EliJaghab/tunemeld: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

mypy:
  name: mypy-type-check
  entry: make lint
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: make ruff-check
  language: system
  pass_filenames: false

ruff-fix:
  name: ruff-fix
  entry: make ruff-fix
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: make ruff-format
  language: system
  pass_filenames: false

python-import-check:
  name: Python import validation
  entry: python -m py_compile
  language: python
  language_version: python3.13

Migrate GitHub Actions workflow from view_count to play_count
  .github/workflows/play_count.yml
  backend/core/management/commands/play_count.py
  backend/core/management/commands/play_count_modules/a0_genre_service.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix Dockerfile: Use python:3.13 instead of python:3.13-slim
  Dockerfile
Due: none

Try Python 3.13.0rc3 Docker image
  Dockerfile
Due: none

Fix Railway deployment: use official python:3.13 Docker image
  Dockerfile
Due: none

Fix Python 3.13 Docker: use GitHub Container Registry to bypass Docker Hub 401 errors
  .python-version
  Dockerfile.alpine
  Dockerfile.debian
  Dockerfile.gcr
  Dockerfile.ghcr
  Dockerfile.original
  Dockerfile.redhat
  runtime.txt
Due: none

Clean up: remove unnecessary Docker and runtime files
  .python-version
  Dockerfile.alpine
  Dockerfile.debian
  Dockerfile.gcr
  Dockerfile.ghcr
  Dockerfile.original
  Dockerfile.redhat
  runtime.txt
Due: none

Add iOS 26 Liquid Glass modal styling
  docs/css/modal.css
  docs/index.html
Due: none

Add SoundCloud URL lookup functionality to playlist ETL pipeline
  backend/core/management/commands/playlist_etl_modules/e_track.py
  backend/core/services/soundcloud_service.py
  backend/core/utils/cloudflare_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix track_data dictionary initialization with all URL fields
  backend/core/management/commands/playlist_etl_modules/e_track.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Refactor genre service to shared command with ETL run ID pattern
  backend/core/management/commands/genre_service.py
  backend/core/management/commands/play_count.py
  backend/core/management/commands/play_count_modules/a0_genre_service.py
  backend/core/management/commands/playlist_etl.py
  backend/core/models/genre_service.py
  backend/core/models/playlist.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Add database migration for etl_run_id fields in lookup tables
  backend/core/migrations/0022_add_etl_run_id_to_lookup_tables.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Fix database unique constraint conflicts for etl_run_id fields
  backend/core/migrations/0023_fix_unique_constraints_for_etl_run_id.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Safely remove legacy lookup records without etl_run_id
  backend/core/migrations/0024_remove_duplicate_lookup_records.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Fix ETL pipeline to handle duplicate Service records gracefully
  backend/core/management/commands/playlist_etl_modules/c_raw_playlist.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Add migration to clean slate lookup tables and ETL data
  backend/core/migrations/0025_clean_slate_lookup_tables.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Fix Service.objects.get() duplicate record errors in play count ETL
  backend/core/graphql/playlist.py
  backend/core/management/commands/play_count_modules/a_historical_play_count.py
  backend/core/management/commands/play_count_modules/b_aggregate_play_count.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix GraphQL Genre.objects.get() duplicate record errors
  backend/core/graphql/playlist.py
  backend/core/management/commands/playlist_etl_modules/f_aggregate.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Create centralized API layer for database lookups
  backend/core/api/genre_service_api.py
  backend/core/graphql/playlist.py
  backend/core/graphql/track.py
  backend/core/management/commands/play_count_modules/a_historical_play_count.py
  backend/core/management/commands/play_count_modules/b_aggregate_play_count.py
  backend/core/management/commands/playlist_etl_modules/c_raw_playlist.py
  backend/core/management/commands/playlist_etl_modules/f_aggregate.py
  backend/core/models/genre_service.py
  backend/core/models/playlist.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Add icon_class fields to Genre and Rank models
  backend/core/migrations/0026_add_icon_class_fields.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Fix playlistsByGenre GraphQL query using centralized API layer
  backend/core/api/genre_service_api.py
  backend/core/graphql/playlist.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix import order in GraphQL playlist resolver
  backend/core/graphql/playlist.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix JavaScript placeholder errors by filtering serviceOrder to actual playlist columns
  backend/core/graphql/playlist.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix play count ETL clearing playlist cache
  backend/core/management/commands/play_count_modules/c_clear_play_count_cache.py
  backend/core/utils/local_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Remove redundant cache command and use constants in play count API
  backend/core/api/play_count.py
  backend/core/api/playlist.py
  backend/core/apps.py
  backend/core/graphql/play_count.py
  backend/core/graphql/schema.py
  backend/core/management/commands/clear_and_warm_cache.py
  backend/core/management/commands/play_count.py
  backend/core/management/commands/play_count_modules/a_historical_play_count.py
  backend/core/management/commands/play_count_modules/c_clear_and_warm_play_count_cache.py
  backend/core/management/commands/play_count_modules/c_clear_play_count_cache.py
  backend/core/management/commands/playlist_etl.py
  backend/core/management/commands/playlist_etl_modules/g_clear_and_warm_track_cache.py
  backend/core/utils/local_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Separate play count data from track GraphQL resolver
  backend/core/graphql/play_count.py
  backend/core/graphql/track.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Remove etl_run_id from all models and simplify database schema
  backend/core/migrations/0027_remove_etl_run_id_from_genre_service.py
  backend/core/migrations/0028_remove_etl_run_id_from_rank.py
  backend/core/migrations/0029_remove_etl_run_id_from_tracks.py
  backend/core/migrations/0030_remove_playlist_playlists_etl_run_a70eb6_idx_and_more.py
  backend/core/models/genre_service.py
  backend/core/models/playlist.py
  backend/core/models/track.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Eliminate blue-green deployment pattern from ETL pipeline
  backend/core/management/commands/genre_service.py
  backend/core/management/commands/play_count.py
  backend/core/management/commands/playlist_etl.py
  backend/core/management/commands/playlist_etl_modules/c_raw_playlist.py
  backend/core/management/commands/playlist_etl_modules/d_playlist_service_track.py
  backend/core/management/commands/playlist_etl_modules/e_track.py
  backend/core/management/commands/playlist_etl_modules/f_aggregate.py
  backend/core/management/commands/playlist_etl_modules/g_clear_and_warm_track_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Simplify API and service layer after etl_run_id removal
  backend/core/api/genre_service_api.py
  backend/core/api/playlist.py
  backend/core/services/apple_music_service.py
  backend/core/services/soundcloud_service.py
  backend/core/services/spotify_service.py
  backend/core/utils/local_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Update GraphQL resolvers for simplified model structure
  backend/core/graphql/genre.py
  backend/core/graphql/playlist.py
  backend/core/graphql/track.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Update frontend to handle simplified backend data structure
  docs/src/components/playlist.js
  docs/src/components/playlistHeader.js
  docs/src/components/servicePlayer.js
  docs/src/config/constants.js
  docs/src/services/graphql-client.js
  docs/src/utils/selectors.js
Due: none

Fix playlist ETL pipeline with atomic transactions and proper ranking
  backend/core/management/commands/play_count_modules/c_clear_and_warm_play_count_cache.py
  backend/core/management/commands/playlist_etl_modules/d_playlist_service_track.py
  backend/core/management/commands/playlist_etl_modules/f_aggregate.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Add service ranking boolean flags to GraphQL
  CLAUDE.md
  backend/core/api/genre_service_api.py
  backend/core/graphql/track.py
  docs/src/components/playlist.js
  docs/src/services/graphql-client.js
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Remove unnecessary fallback logic from playlist resolvers
  backend/core/graphql/playlist.py
  backend/core/management/commands/playlist_etl_modules/f_aggregate.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix migration failure by handling existing aggregate_play_counts table
  backend/core/migrations/0031_handle_existing_aggregate_table.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Fix shimmer loading when backend is down
  docs/src/utils/selectors.js
Due: none

Show skeleton loading when backend is down
  docs/main.js
Due: none

Standardize shimmer component creation patterns
  docs/css/playlist.css
  docs/css/shimmer.css
  docs/css/themes.css
  docs/src/components/shimmer.js
Due: none

Fix playlist ETL migration and add force refresh capability
  .github/workflows/playlist_etl.yml
  Makefile
  backend/core/management/commands/playlist_etl.py
  backend/core/management/commands/playlist_etl_modules/c_raw_playlist.py
  backend/core/migrations/0031_handle_existing_aggregate_table.py
  backend/core/services/apple_music_service.py
  backend/core/services/soundcloud_service.py
  backend/core/services/spotify_service.py
  backend/core/utils/rapid_api_client.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix migration 0031 to properly handle existing aggregate_play_counts table
  backend/core/migrations/0031_handle_existing_aggregate_table.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Fix migration dependency order to handle existing aggregate table
  backend/core/migrations/0027_remove_etl_run_id_from_genre_service.py
  backend/core/migrations/0031_handle_existing_aggregate_table.py
Due: mypy, ruff-check, ruff-fix, ruff-format

Path conditions:
  mypy: any of: \.py$
  ruff-check: any of: \.py$
  ruff-fix: any of: \.py$
  ruff-format: any of: \.py$
  python-import-check: any of: \.py$, but not: (?x)^(
  venv/.*|
  .venv/.*|
  .*/migrations/.*
)$

