Repository EliJaghab/tunemeld: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-import-check, check-pip-dependencies, python-import-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        name: mypy-type-check
        args: [--ignore-missing-imports, --show-error-codes, --explicit-package-bases]
        additional_dependencies: [types-requests]
        exclude: |
          (?x)^(
            venv/.*|
            .venv/.*|
            .tox/.*|
            .*/migrations/.*|
            playlist_etl/.*|
            .*test.*\.py$
          )$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.4
    hooks:
      # First check for linting issues (fail if found)
      - id: ruff
        name: ruff-check
        args: [--no-fix]
        exclude: ".*\\.ipynb$"
      # Then run the linter with aggressive fixes.
      - id: ruff
        name: ruff-fix
        args: [--fix, --unsafe-fixes]
        exclude: ".*\\.ipynb$"
      # Run the formatter.
      - id: ruff-format
        exclude: ".*\\.ipynb$"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|md|html)$
        exclude: |
          (?x)^(
            node_modules/.*|
            venv/.*|
            .tox/.*|
            staticfiles/.*
          )$

  - repo: local
    hooks:
      - id: clear-python-cache
        name: Clear Python cache files
        entry: bash -c "find . -name '__pycache__' -type d -exec rm -rf {} + 2>/dev/null || true; find . -name '*.pyc' -delete 2>/dev/null || true; rm -rf .mypy_cache 2>/dev/null || true"
        language: system
        pass_filenames: false
        always_run: true

      - id: django-check
        name: Django initialization check
        entry: bash -c "cd django_backend && PYTHONPATH=.. python manage.py check --deploy"
        language: system
        pass_filenames: false
        files: ^django_backend/.*\.py$

      - id: django-import-check
        name: Django management command import test
        entry: bash -c "cd django_backend && PYTHONPATH=.. DJANGO_SETTINGS_MODULE=core.settings python -c 'import django; django.setup(); from core.management.commands import a_playlist_etl, view_count_main, e_playlist_service_track, f_track; print(\"âœ… All management commands import successfully\")'"
        language: system
        pass_filenames: false
        files: ^django_backend/core/management/commands/.*\.py$

      - id: check-pip-dependencies
        name: Check pip dependency compatibility
        entry: python -m pip install --dry-run -r requirements.txt
        language: system
        files: requirements\.txt$
        pass_filenames: false
        verbose: false

      - id: python-import-check
        name: Python import validation
        entry: python -m py_compile
        language: system
        files: \.py$
        exclude: |
          (?x)^(
            venv/.*|
            .venv/.*|
            .tox/.*|
            migrations/.*
          )$

Fix cache initialization to prevent Django check failures
  django_backend/core/views.py
Due: django-check, python-import-check

Allow cache initialization without credentials in CI/test environments
  django_backend/core/cache.py
Due: django-check, python-import-check

Improve CI detection for cache initialization
  django_backend/core/cache.py
Due: django-check, python-import-check

Remove separate Django Migration workflow - consolidate into Playlist ETL
  .github/workflows/postgres-migration.yml
Due: none

Fix Track model primary key constraint for blue-green deployments
  django_backend/core/migrations/0005_fix_track_primary_key_constraints.py
  django_backend/core/models/f_track.py
Due: django-check, python-import-check

Fix Track model primary key constraint with etl_run_id
  django_backend/core/migrations/0005_track_id_alter_track_isrc_and_more.py
Due: django-check, python-import-check

Remove conflicting manual Track migration file
  django_backend/core/migrations/0005_fix_track_primary_key_constraints.py
Due: django-check, python-import-check

Add Track model id field migration in two steps
  django_backend/core/migrations/0005_track_id_alter_track_unique_together_and_more.py
  django_backend/core/migrations/0006_alter_track_id_alter_track_isrc.py
Due: django-check, python-import-check

Revert to ISRC primary key with etl_run_id unique constraint
  django_backend/core/migrations/0006_alter_track_id_alter_track_isrc.py
  django_backend/core/migrations/0006_remove_track_id.py
Due: django-check, python-import-check

Force Railway application restart after Track model changes
  django_backend/core/models/f_track.py
Due: django-check, python-import-check

Fix Track primary key to support multiple ETL runs
  django_backend/core/migrations/0007_track_id_alter_track_isrc.py
  django_backend/core/models/f_track.py
Due: django-check, python-import-check

Fix Track model primary key constraint - add BigAutoField id and unique constraint on (isrc, etl_run_id)
  django_backend/core/cache.py
  django_backend/core/migrations/0005_track_id_alter_track_isrc_and_more.py
  django_backend/core/migrations/0005_track_id_alter_track_unique_together_and_more.py
  django_backend/core/migrations/0006_remove_track_id.py
  django_backend/core/models/f_track.py
Due: django-check, python-import-check

Add no-op migrations 0006 and 0007 to align with Railway database state
  django_backend/core/migrations/0006_remove_track_id.py
  django_backend/core/migrations/0007_track_id_alter_track_isrc.py
Due: django-check, python-import-check

Add migration history fix script and update workflow
  django_backend/fix_migration_history.py
Due: django-check, python-import-check

Update Playlist ETL workflow to fix migration history
  .github/workflows/playlist_etl.yml
Due: none

Enhance migration fix script to also apply schema changes
  django_backend/fix_migration_history.py
Due: django-check, python-import-check

Fix migration script to always check and fix schema
  django_backend/fix_migration_history.py
Due: django-check, python-import-check

Add schema wipe script and update workflow for clean migrations
  django_backend/wipe_schema.py
Due: django-check, python-import-check

Update workflow to use schema wipe instead of migration fix
  .github/workflows/playlist_etl.yml
Due: none

Remove WebDriver dependency from Apple Music service
  django_backend/core/services/apple_music_service.py
Due: django-check, python-import-check

Clean up migrations for Railway PostgreSQL
  django_backend/core/migrations/0001_initial.py
  django_backend/core/migrations/0002_alter_rawplaylistdata_playlist_cover_url.py
  django_backend/core/migrations/0002_drop_old_unique_constraints.py
  django_backend/core/migrations/0003_alter_rawplaylistdata_playlist_cover_url.py
  django_backend/core/migrations/0003_fix_playlist_unique_constraints.py
  django_backend/core/migrations/0004_fix_service_track_constraints.py
  django_backend/core/migrations/0005_track_id_alter_track_isrc_and_more.py
  django_backend/core/migrations/0006_remove_track_id.py
  django_backend/core/migrations/0007_track_id_alter_track_isrc.py
Due: django-check, python-import-check

Fix Python version compatibility for CI pipeline
  pyproject.toml
Due: none

Standardize on Python 3.13 across CI and project
  pyproject.toml
Due: none

Fix genre loading service - return all genres instead of only those with playlists
  FRONTEND_STYLING_PLAN.md
  django_backend/core/graphql/genre.py
Due: django-check, python-import-check

Fix CI workflow to actually use Python 3.13
  .github/workflows/ci.yml
Due: none

Remove problematic CI Pipeline workflow
  .github/workflows/ci.yml
Due: none

Remove emojis and print statements, improve ETL safety
  .github/workflows/playlist_etl.yml
  .github/workflows/view_count_postgresql.yml
  .pre-commit-config.yaml
  Makefile
  django_backend/core/raw_extract_test.py
  django_backend/core/settings.py
  django_backend/core/utils/utils.py
  django_backend/fix_migration_history.py
  django_backend/migration_safety_check.py
  django_backend/wipe_schema.py
  docs/error-handler.js
Due: django-check, python-import-check

Fix Django logging to use Eastern Time formatter
  django_backend/core/settings.py
Due: django-check, python-import-check

Refactor view count models for historical tracking focus
  django_backend/core/models/__init__.py
  django_backend/core/models/z_view_counts.py
Due: django-check, python-import-check

Add database migration for view count model refactoring
  django_backend/core/migrations/0004_rename_historicalviewcount_historicaltrackviewcount_and_more.py
Due: django-check, python-import-check

Add new historical view count ETL command
  django_backend/core/management/commands/a_historical_view_count.py
Due: django-check, django-import-check, python-import-check

Remove old view count ETL command structure
  django_backend/core/management/commands/view_count/__init__.py
  django_backend/core/management/commands/view_count/b2_extract_youtube.py
  django_backend/core/management/commands/view_count/b_extract_spotify.py
  django_backend/core/management/commands/view_count/c_load_view_counts.py
  django_backend/core/management/commands/view_count/view_count.py
Due: django-check, django-import-check, python-import-check

Remove unused view count utility files
  django_backend/core/utils/track_utils.py
  django_backend/core/utils/view_count_utils.py
Due: django-check, python-import-check

Remove redundant GitHub workflow files
  .github/workflows/view_count2.yml
  .github/workflows/view_count_postgresql.yml
Due: none

Update GitHub workflow for historical track view count ETL
  .github/workflows/view_count.yml
Due: none

Fix pre-commit hooks and document ETL commands
  .github/workflows/deploy_worker.yml
  .pre-commit-config.yaml
  CLAUDE.md
  django_backend/core/management/commands/a_historical_view_count.py
  django_backend/core/models/z_view_counts.py
Due: django-check, django-import-check, python-import-check

Reorganize view count commands into structured directory
  CLAUDE.md
  django_backend/core/management/commands/a_view_count.py
  django_backend/core/management/commands/view_count/__init__.py
  django_backend/core/management/commands/view_count/a_historical_view_count.py
Due: django-check, django-import-check, python-import-check

Add view count data to GraphQL with precomputed PostgreSQL storage
  .github/workflows/view_count.yml
  Makefile
  django_backend/core/graphql/track.py
  django_backend/core/management/commands/a_view_count.py
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/management/commands/view_count/b_delta_view_count.py
  django_backend/core/migrations/0005_remove_historicaltrackviewcount_delta_count_and_more.py
  django_backend/core/models/z_view_counts.py
Due: django-check, django-import-check, python-import-check

Apply pre-commit formatting to view count files
  django_backend/core/graphql/track.py
  django_backend/core/management/commands/a_view_count.py
  django_backend/core/management/commands/view_count/b_delta_view_count.py
Due: django-check, django-import-check, python-import-check

Extract reusable CI/CD patterns to Makefile
  .github/workflows/playlist_etl.yml
  .github/workflows/view_count.yml
  Makefile
Due: none
