Repository EliJaghab/tunemeld: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-import-check, check-pip-dependencies, python-import-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        name: mypy-type-check
        args: [--ignore-missing-imports, --show-error-codes, --explicit-package-bases]
        additional_dependencies: [types-requests]
        exclude: |
          (?x)^(
            venv/.*|
            .venv/.*|
            .tox/.*|
            .*/migrations/.*|
            playlist_etl/.*|
            .*test.*\.py$
          )$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.4
    hooks:
      # First check for linting issues (fail if found)
      - id: ruff
        name: ruff-check
        args: [--no-fix]
        exclude: ".*\\.ipynb$"
      # Then run the linter with aggressive fixes.
      - id: ruff
        name: ruff-fix
        args: [--fix, --unsafe-fixes]
        exclude: ".*\\.ipynb$"
      # Run the formatter.
      - id: ruff-format
        exclude: ".*\\.ipynb$"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      # - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|md|html)$
        exclude: |
          (?x)^(
            node_modules/.*|
            venv/.*|
            .tox/.*|
            staticfiles/.*
          )$

  - repo: local
    hooks:
      - id: clear-python-cache
        name: Clear Python cache files
        entry: bash -c "find . -name '__pycache__' -type d -exec rm -rf {} + 2>/dev/null || true; find . -name '*.pyc' -delete 2>/dev/null || true; rm -rf .mypy_cache 2>/dev/null || true"
        language: system
        pass_filenames: false
        always_run: true

      - id: django-check
        name: Django initialization check
        entry: bash -c "cd django_backend && PYTHONPATH=.. python manage.py check --deploy"
        language: system
        pass_filenames: false
        files: ^django_backend/.*\.py$

      - id: django-import-check
        name: Django management command import test
        entry: bash -c "cd django_backend && PYTHONPATH=.. DJANGO_SETTINGS_MODULE=core.settings python -c 'import django; django.setup(); from core.management.commands import a_playlist_etl, view_count_main, e_playlist_service_track, f_track; print(\"âœ… All management commands import successfully\")'"
        language: system
        pass_filenames: false
        files: ^django_backend/core/management/commands/.*\.py$

      - id: check-pip-dependencies
        name: Check pip dependency compatibility
        entry: python -m pip install --dry-run -r requirements.txt
        language: system
        files: requirements\.txt$
        pass_filenames: false
        verbose: false

      - id: python-import-check
        name: Python import validation
        entry: python -m py_compile
        language: system
        files: \.py$
        exclude: |
          (?x)^(
            venv/.*|
            .venv/.*|
            .tox/.*|
            migrations/.*
          )$

Clean up obsolete Makefile commands
  Makefile
Due: none

Fix GitHub Actions workflow to call Django command directly
  .github/workflows/view_count.yml
Due: none

Add fail-fast behavior and secure API key logging
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/services/youtube_service.py
Due: django-check, django-import-check, python-import-check

Add limit=5 to CI workflow for testing
  .github/workflows/view_count.yml
Due: none

Remove test limit - process all tracks with fail-fast behavior
  .github/workflows/view_count.yml
Due: none

Add core utility files for constants, RapidAPI client, and SpotDL client
  django_backend/core/utils/constants.py
  django_backend/core/utils/rapid_api_client.py
  django_backend/core/utils/spotdl_client.py
Due: django-check, python-import-check

Fix fail-fast behavior to work in worker threads
  django_backend/core/management/commands/view_count/a_historical_view_count.py
Due: django-check, django-import-check, python-import-check

Remove all error handling - fail fast on ANY error
  django_backend/core/management/commands/view_count/a_historical_view_count.py
Due: django-check, django-import-check, python-import-check

Add 2-hour TTL cache for YouTube view counts and simplify progress tracking
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/services/youtube_service.py
  django_backend/core/utils/cache_utils.py
Due: django-check, django-import-check, python-import-check

Fix all mypy typing issues and optimize ruff configuration
  .claude/settings.json
  .pre-commit-config.yaml
  Makefile
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/management/commands/view_count/b_delta_view_count.py
  django_backend/core/migrations/0001_initial.py
  django_backend/core/migrations/0002_alter_rawplaylistdata_playlist_cover_url.py
  django_backend/core/migrations/0003_alter_rawplaylistdata_playlist_cover_url.py
  django_backend/core/migrations/0004_rename_historicalviewcount_historicaltrackviewcount_and_more.py
  django_backend/core/migrations/0005_remove_historicaltrackviewcount_delta_count_and_more.py
  django_backend/core/models/f_track.py
  django_backend/core/services/apple_music_service.py
  django_backend/core/services/soundcloud_service.py
  django_backend/core/services/spotify_service.py
  django_backend/core/settings.py
  kv_worker/worker.py
  playlist_etl/cache_utils.py
  pyproject.toml
Due: django-check, django-import-check, python-import-check

Consolidate codebase: remove playlist_etl/ and update all imports
  Makefile
  django_backend/core/graphql/genre.py
  django_backend/core/graphql/playlist.py
  django_backend/core/graphql/track.py
  django_backend/core/management/commands/playlist_etl/b_genre_service.py
  django_backend/core/management/commands/playlist_etl/c_clear_raw_playlist_cache.py
  django_backend/core/management/commands/playlist_etl/d_raw_playlist.py
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
  django_backend/core/management/commands/playlist_etl/f_track.py
  django_backend/core/management/commands/playlist_etl/g_aggregate.py
  django_backend/core/management/commands/playlist_etl/i_warm_gql_cache.py
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/models/e_playlist.py
  django_backend/core/models/f_track.py
  django_backend/core/services/apple_music_service.py
  django_backend/core/services/soundcloud_service.py
  django_backend/core/services/spotify_service.py
  django_backend/core/utils/cache_utils.py
  django_backend/core/utils/constants.py
  playlist_etl/cache_utils.py
  playlist_etl/config.py
  playlist_etl/constants.py
  playlist_etl/models.py
  playlist_etl/rapid_api_client.py
  playlist_etl/spotdl_client.py
Due: django-check, django-import-check, python-import-check

fix: correct pre-commit config and update docs
  .pre-commit-config.yaml
  CLAUDE.md
  docs/graphql-client.js
  docs/index.html
  docs/main.js
  docs/playlist.js
  docs/selectors.js
Due: none

refactor: Remove playlist_etl module and project overview
  Dockerfile
  docs/PROJECT_OVERVIEW.md
Due: none

fix: Correct absolute imports to relative in django_backend
  django_backend/core/graphql/genre.py
  django_backend/core/graphql/playlist.py
  django_backend/core/graphql/track.py
  django_backend/core/management/commands/playlist_etl/b_genre_service.py
  django_backend/core/management/commands/playlist_etl/c_clear_raw_playlist_cache.py
  django_backend/core/management/commands/playlist_etl/d_raw_playlist.py
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
  django_backend/core/management/commands/playlist_etl/f_track.py
  django_backend/core/management/commands/playlist_etl/g_aggregate.py
  django_backend/core/management/commands/playlist_etl/i_warm_gql_cache.py
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/models/e_playlist.py
  django_backend/core/services/apple_music_service.py
  django_backend/core/services/soundcloud_service.py
  django_backend/core/services/spotify_service.py
  django_backend/core/utils/cache_utils.py
Due: django-check, django-import-check, python-import-check

Fix Spotify view count scraping and clean up configuration
  django_backend/core/services/spotify_service.py
  django_backend/core/utils/cache_utils.py
  django_backend/core/utils/config.py
  django_backend/core/utils/constants.py
Due: django-check, python-import-check

Only log GraphQL requests on errors instead of all requests
  docs/graphql-client.js
Due: none

Change view count fields to BigInt to handle large YouTube/Spotify counts
  django_backend/core/graphql/track.py
Due: django-check, python-import-check

Prioritize tracks on all three services in TuneMeld aggregate ranking
  django_backend/core/graphql/playlist.py
  django_backend/core/management/commands/playlist_etl/g_aggregate.py
Due: django-check, django-import-check, python-import-check

Fix syntax error in g_aggregate.py - remove stray character
  django_backend/core/management/commands/playlist_etl/g_aggregate.py
Due: django-check, django-import-check, python-import-check

Reduce cache clearing window to 20 minutes and add GraphQL cache scheduling
  django_backend/core/management/commands/playlist_etl/h_clear_gql_cache.py
  django_backend/core/utils/cache_utils.py
Due: django-check, django-import-check, python-import-check

Fix PostgreSQL DISTINCT ON query error in playlist metadata resolver
  django_backend/core/graphql/playlist.py
Due: django-check, python-import-check

Add YouTube URL retrieval summary logging with detailed statistics
  django_backend/core/management/commands/playlist_etl/f_track.py
  django_backend/core/services/youtube_service.py
Due: django-check, django-import-check, python-import-check

Update frontend theming system with centralized CSS variables and logo improvements
  docs/css/header.css
  docs/css/playlist.css
  docs/css/styles.css
  docs/css/themes.css
  docs/css/title.css
  docs/html/title.html
  docs/images/tunemeld.png
  docs/index.html
Due: none

Fix ETL duplicate prevention and remove fallback values
  django_backend/core/management/commands/playlist_etl/d_raw_playlist.py
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
  django_backend/core/models/d_raw_playlist.py
Due: django-check, django-import-check, python-import-check

Fix type alias syntax and database configuration updates
  django_backend/core/models/f_track.py
  django_backend/core/settings.py
  docs/css/playlist.css
Due: django-check, python-import-check

Disable GraphQL cache for local dev and add track/artist name truncation
  django_backend/core/cache.py
  django_backend/core/graphql/track.py
  django_backend/core/graphql/utils.py
Due: django-check, python-import-check

Optimize ETL scheduling for sequential execution and quota management
  .github/workflows/playlist_etl.yml
  django_backend/core/management/commands/playlist_etl/c_clear_raw_playlist_cache.py
  django_backend/core/utils/cache_utils.py
Due: django-check, django-import-check, python-import-check

Implement fail-fast view count pipeline with rate limit resilience
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/services/youtube_service.py
Due: django-check, django-import-check, python-import-check

Clean up view count pipeline error detection with exact YouTube error messages
  django_backend/core/management/commands/view_count/a_historical_view_count.py
Due: django-check, django-import-check, python-import-check

Refactor GraphQL client methods and playlist metadata handling
  django_backend/core/management/commands/playlist_etl/g_aggregate.py
  django_backend/core/migrations/0006_service_description_and_more.py
  django_backend/core/migrations/0007_remove_service_description.py
Due: django-check, django-import-check, python-import-check

Apply prettier formatting fixes from pre-commit hooks
  CLAUDE.md
  docs/StateManager.js
  docs/css/playlist.css
  docs/graphql-client.js
  docs/index.html
  docs/main.js
  docs/playlist-metadata.js
  docs/playlist.js
  docs/router.js
  docs/selectors.js
Due: none

Add clickable view counts with platform logos and optimize ETL pipeline
  django_backend/core/management/commands/view_count/a_historical_view_count.py
  django_backend/core/services/spotify_service.py
  docs/css/playlist.css
  docs/playlist.js
Due: django-check, django-import-check, python-import-check

Restore YouTube icons for service playlists only
  docs/playlist.js
Due: none

Fix rank sorting to preserve backend service priority logic
  docs/playlist.js
Due: none

Update favicon to TuneMeld logo and fix pre-commit config
  .pre-commit-config.yaml
  backend/static/favicon.ico
Due: none

Simplify development workflow with make commands
  CLAUDE.md
  Makefile
Due: none

Update workflows and Docker for backend directory restructure
  .github/workflows/playlist_etl.yml
  .github/workflows/view_count.yml
  Dockerfile
Due: none

Add .env and temporary script patterns to .gitignore
  .gitignore
Due: none
