Repository EliJaghab/tunemeld: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy-type-check
        entry: make lint
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-check
        name: ruff-check
        entry: make ruff-check
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-fix
        name: ruff-fix
        entry: make ruff-fix
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: make ruff-format
        language: system
        pass_filenames: false
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|md|html)$
        exclude: |
          (?x)^(
            node_modules/.*|
            venv/.*
          )$

  - repo: local
    hooks:
      - id: clear-python-cache
        name: Clear Python cache files
        entry: make clean-cache
        language: system
        pass_filenames: false
        always_run: true

      - id: django-check
        name: Django initialization check
        entry: make django-check
        language: system
        pass_filenames: false

      - id: django-import-check
        name: Django management command import test
        entry: make django-import-check
        language: system
        pass_filenames: false

      - id: check-pip-dependencies
        name: Check pip dependency compatibility
        entry: bash -c "cd django_backend && source venv/bin/activate && python -m pip install --dry-run -e .."
        language: system
        pass_filenames: false
        verbose: false

      - id: python-import-check
        name: Python import validation
        entry: python -m py_compile
        language: python
        language_version: python3.13
        types: [python]
        exclude: |
          (?x)^(
            venv/.*|
            .venv/.*|
            .*/migrations/.*
          )$

      - id: backend-startup-check
        name: Backend startup validation
        entry: make backend-startup-check
        language: system
        pass_filenames: false

fix: prevent SSL timeout errors in ETL pipeline
  backend/core/management/commands/play_count.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

refactor: consolidate backend code and fix all mypy type errors
  api/index.py
  backend/core/management/commands/clear_and_warm_cache.py
  backend/core/management/commands/play_count_modules/c_clear_and_warm_play_count_cache.py
  backend/core/urls.py
  backend/core/utils/redis_cache.py
  backend/domain_types/types.py
  backend/gql/__init__.py
  backend/gql/button_labels.py
  backend/gql/genre.py
  backend/gql/play_count.py
  backend/gql/playlist.py
  backend/gql/schema.py
  backend/gql/service.py
  backend/gql/track.py
  backend/utils/django_setup.py
  pyproject.toml
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: remove transaction.atomic() wrapper from ETL pipeline
  backend/core/management/commands/play_count.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: implement smooth shimmer-to-tracks morph transition
  frontend/css/playlist.css
  frontend/css/shimmer.css
  frontend/src/components/playlist.ts
  frontend/src/components/shimmer.ts
  frontend/src/state/StateManager.ts
  frontend/src/utils/selectors.ts
Due: none

feat: add fade transitions to service header artwork
  frontend/css/header.css
  frontend/css/themes.css
  frontend/src/components/playlistHeader.ts
Due: none

fix: change play count fields from Int to Float in GraphQL schema
  backend/gql/play_count.py
  backend/gql/track.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: prevent page refresh on track clicks and optimize player navigation
  frontend/src/components/playlist.ts
  frontend/src/components/servicePlayer.ts
  frontend/src/routing/router.ts
Due: none

fix: enable rank switching and preserve rank order across genre changes
  frontend/src/components/playlist.ts
  frontend/src/components/rankButton.ts
  frontend/src/routing/router.ts
  frontend/src/utils/selectors.ts
Due: none

fix: enable trending percentage display and fix ETL comparison date logic
  backend/core/management/commands/play_count_modules/b_aggregate_play_count.py
  frontend/css/playlist.css
  frontend/css/themes.css
  frontend/src/components/playlist.ts
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: render service playlists on initial page load
  frontend/src/utils/selectors.ts
Due: none

refactor: remove Spotify saves count and improve play count formatting
  backend/core/models/playlist.py
  backend/core/services/spotify_service.py
  backend/core/utils/utils.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

feat: add Genius lyrics integration
  backend/core/constants.py
  backend/core/migrations/0004_add_genius_fields.py
  backend/core/models/track.py
  backend/core/services/genius_service.py
  backend/core/settings.py
  backend/core/utils/cloudflare_cache.py
  frontend/images/genius_logo.png
  pyproject.toml
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

fix: remove duplicate index operations from Genius migration
  backend/core/migrations/0004_add_genius_fields.py
Due: mypy, ruff-check, ruff-fix, ruff-format

fix: make Genius migration idempotent to handle column existence
  backend/core/migrations/0004_add_genius_fields.py
Due: mypy, ruff-check, ruff-fix, ruff-format

refactor: extract button font-weight to CSS variable
  frontend/css/playlist.css
  frontend/css/styles.css
  frontend/css/themes.css
Due: none

fix: resolve shimmer loading state bugs for rank and genre switches
  frontend/src/components/playlist.ts
  frontend/src/components/shimmer.ts
  frontend/src/routing/router.ts
  frontend/src/utils/selectors.ts
Due: none

refactor: clean up code comments and simplify DOM creation
  frontend/src/components/genreButtons.ts
  frontend/src/components/rankButton.ts
  frontend/src/components/servicePlayer.ts
Due: none

chore: integrate frontend build into make format workflow
  Makefile
  frontend/src/components/playlistHeader.ts
Due: none

fix: restore playlist name bolding in service header descriptions
  frontend/src/components/playlistHeader.ts
Due: none

feat: make tunemeld logo and title clickable to reload homepage
  frontend/css/title.css
  frontend/html/title.html
Due: none

refactor: make logo/title link URL environment-aware
  frontend/html/title.html
  frontend/src/components/title.ts
  frontend/src/config/config.ts
Due: none

style: remove green/red colors from trending percentages, use default white
  frontend/css/playlist.css
  frontend/css/themes.css
Due: none

fix: preserve genre and rank filters when opening track player
  frontend/src/components/servicePlayer.ts
Due: none

feat: add audio features ETL pipeline with ReccoBeats integration
  Makefile
  backend/core/constants.py
  backend/core/management/commands/audio_features_etl.py
  backend/core/management/commands/audio_features_etl_modules/__init__.py
  backend/core/management/commands/audio_features_etl_modules/a_populate_audio_features.py
  backend/core/management/commands/backfill_cloudflare_cache.py
  backend/core/management/commands/sync_prod_db.py
  backend/core/management/commands/sync_prod_redis.py
  backend/core/migrations/0005_trackfeaturemodel_trackmodel_genius_lyrics_and_more.py
  backend/core/models/track.py
  backend/core/services/reccobeats_service.py
  backend/core/services/spotify_service.py
  backend/core/utils/cloudflare_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

docs: add data engineering agent guide and CloudflareKV backfill command
  .claude/data_eng_agent.md
  .gitignore
  README.md
Due: none

fix: resolve duplicate index migration error in GitHub Actions
  backend/core/migrations/0005_trackfeaturemodel_trackmodel_genius_lyrics_and_more.py
  backend/core/migrations/0006_fix_duplicate_index.py
Due: mypy, ruff-check, ruff-fix, ruff-format

fix: handle all duplicate indexes in migration 0006
  backend/core/migrations/0005_trackfeaturemodel_trackmodel_genius_lyrics_and_more.py
  backend/core/migrations/0006_fix_duplicate_index.py
Due: mypy, ruff-check, ruff-fix, ruff-format

fix: use correct table names in migration 0006
  backend/core/migrations/0006_fix_duplicate_index.py
Due: mypy, ruff-check, ruff-fix, ruff-format

fix: remove fake migration rollback in CI/CD pipeline
  Makefile
Due: none

fix: fake-apply migration 0005 to resolve state inconsistency
  Makefile
Due: none

chore: remove one-time migration fix from Makefile
  Makefile
Due: none

docs: clarify Spotify scraping vs YouTube API usage
  README.md
Due: none

chore: remove unused Django template and view from deployment experiment
  backend/core/templates/index.html
  backend/core/views/track_views.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

feat: add similar tracks modal with audio feature matching
  backend/core/api/track_api.py
  backend/core/constants.py
  backend/core/services/iframe_service.py
  backend/core/urls.py
  backend/core/utils/track_similarity.py
  backend/domain_types/types.py
  backend/gql/track.py
  frontend/css/modal.css
  frontend/images/more_like_this.png
  frontend/src/components/playlistHeader.ts
  frontend/src/components/servicePlayer.ts
  frontend/src/components/similarTracksModal.ts
  frontend/src/routing/router.ts
  frontend/src/services/graphql-client.ts
  pyproject.toml
  requirements.txt
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

feat: add audio features ETL workflow for manual execution
  .github/workflows/audio_features_etl.yml
Due: none

fix: remove emojis from audio features ETL workflow logs
  .github/workflows/audio_features_etl.yml
Due: none

fix: remove invalid select_related from verification step
  .github/workflows/audio_features_etl.yml
Due: none

docs: remove SHIMMER_REFACTOR_PLAN.md
  SHIMMER_REFACTOR_PLAN.md
Due: none

feat: add weekly trending ISRCs endpoint for ReccoBeats integration
  backend/core/api/trending_isrcs_api.py
  backend/core/management/commands/clear_and_warm_cache.py
  backend/core/urls.py
  backend/core/utils/redis_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check
