Repository EliJaghab/tunemeld: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-import-check, check-pip-dependencies, python-import-check

django-check:
  name: Django initialization check
  entry: bash -c "cd django_backend && PYTHONPATH=.. python manage.py check --deploy"
  language: system
  pass_filenames: false

django-import-check:
  name: Django management command import test
  ...

check-pip-dependencies:
  name: Check pip dependency compatibility
  entry: python -m pip install --dry-run -r requirements.txt
  language: system
  pass_filenames: false
  verbose: false

python-import-check:
  name: Python import validation
  entry: python -m py_compile
  language: system

Remove playlist_etl_main and use a_playlist_etl at root level
  django_backend/core/management/commands/a_playlist_etl.py
  django_backend/core/management/commands/playlist_etl_main.py
Due: django-check, django-import-check, python-import-check

Reorganize playlist ETL commands with clean folder structure
  .pre-commit-config.yaml
  django_backend/core/management/commands/a_playlist_etl.py
  django_backend/core/management/commands/b_genre_service.py
  django_backend/core/management/commands/c_clear_raw_playlist_cache.py
  django_backend/core/management/commands/d_raw_playlist.py
  django_backend/core/management/commands/e_playlist_service_track.py
  django_backend/core/management/commands/f_track.py
  django_backend/core/management/commands/g_aggregate.py
  django_backend/core/management/commands/h_clear_gql_cache.py
  django_backend/core/management/commands/i_warm_gql_cache.py
  django_backend/core/management/commands/view_count_main.py
Due: django-check, django-import-check, python-import-check

Fix YouTube URL placeholder issue and clean database
  django_backend/core/management/commands/playlist_etl/f_track.py
  django_backend/core/services/youtube_service.py
  django_backend/test_server.py
Due: django-check, django-import-check, python-import-check

Add Django management command to clean placeholder YouTube URLs
  check_mongo_data.py
  check_youtube_quota.py
  clean_placeholder_urls.py
  clear_production_gql_cache.py
  django_backend/core/management/commands/clean_placeholder_urls.py
  fix_production_etl.py
  mongo_youtube_recovery.py
  optimize_youtube_fetching.py
  pyproject.toml
  test_youtube_api.py
Due: django-check, django-import-check, python-import-check

Clean up temporary scripts and fix code formatting
  clean_placeholder_urls.py
  django_backend/core/management/commands/clean_placeholder_urls.py
  django_backend/core/settings.py
  django_backend/core/utils/utils.py
Due: django-check, django-import-check, python-import-check

Temporarily disable GraphQL caching to clear stale YouTube placeholder URLs
  aggressive_cleanup.py
  clear_django_cache.py
  clear_specific_gql_cache.py
  django_backend/core/urls.py
  test_production_gql.py
Due: django-check, python-import-check

Fix SoundCloud Pop playlist URL
  playlist_etl/constants.py
Due: python-import-check

Clean up abandoned files and directories
  .github/workflows/fetch_real_staging_data.yml
  .gitignore
  backend/backend/.gitignore
  backend/backend/package-lock.json
  backend/backend/package.json
  backend/backend/src/apiHandlers.ts
  backend/backend/src/index.ts
  backend/backend/src/requirements.txt
  backend/backend/src/utils.ts
  backend/backend/wrangler.toml
  backend/package-lock.json
  backend/package.json
  django_backend/.env
  django_backend/.env.cache
  django_backend/README.md
  django_backend/REDIS_CACHE_SETUP.md
  django_backend/core/api/__init__.py
  django_backend/core/api/utils.py
  django_backend/core/fixtures/__init__.py
  django_backend/core/minimal_test.py
  django_backend/core/tests/__init__.py
  django_backend/core/tests/c_normalize_raw_playlists_test.py
  django_backend/core/tests/d_hydrate_tracks_test.py
  django_backend/fetch_real_api_data.py
  django_backend/fix_unicode_data.py
  django_backend/railway-test.txt
  django_backend/real_api_data/apple_music/country.json
  django_backend/real_api_data/apple_music/dance.json
  django_backend/real_api_data/apple_music/pop.json
  django_backend/real_api_data/apple_music/rap.json
  django_backend/real_api_data/soundcloud/country.json
  django_backend/real_api_data/soundcloud/dance.json
  django_backend/real_api_data/soundcloud/pop.json
  django_backend/real_api_data/soundcloud/rap.json
  django_backend/real_api_data/spotify/country.json
  django_backend/real_api_data/spotify/dance.json
  django_backend/real_api_data/spotify/pop.json
  django_backend/real_api_data/spotify/rap.json
  django_backend/test_server.py
  sitecustomize.py
Due: django-check, check-pip-dependencies, python-import-check

Unify playlist data from Track table with dynamic service URL routing
  django_backend/core/graphql/playlist.py
  django_backend/core/graphql/track.py
  django_backend/core/management/commands/clean_placeholder_urls.py
  django_backend/core/urls.py
  docs/graphql-client.js
  docs/playlist.js
Due: django-check, django-import-check, python-import-check

Remove obsolete ETL and legacy files
  Dockerfile.etl
  RAILWAY_DEPLOYMENT_TIMESTAMP
  dns_import.zone
  railway-etl.toml
  tox.ini
Due: none

Fix railway.toml syntax error
  .env.staging
  .env.test
  .prettierrc
  .python-version
  Procfile
  eslint.config.cjs
  package-lock.json
  package.json
  pytest.ini
  railway.json
  railway.toml
  sitecustomize.py
Due: python-import-check

Fix PORT variable expansion in railway.toml startCommand
  railway.toml
Due: none

Fix PORT variable - use hardcoded 8080 instead of environment variable
  railway.toml
Due: none

Fix ETL constraint violation by using sequential position assignment
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
Due: django-check, django-import-check, python-import-check

Add path-based triggers to playlist ETL workflow
  .github/workflows/playlist_etl.yml
Due: none

Consolidate dependencies: remove requirements.txt, use pyproject.toml
  .github/workflows/ci.yml
  .github/workflows/deploy_worker.yml
  .github/workflows/playlist_etl.yml
  .github/workflows/view_count.yml
  .github/workflows/view_count2.yml
  .github/workflows/view_count_postgresql.yml
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  pyproject.toml
  requirements.txt
Due: check-pip-dependencies

Fix Python version requirement back to 3.11+
  pyproject.toml
Due: none

Fix Dockerfile to use Python 3.11 to match pyproject.toml requirement
  Dockerfile
Due: none

Fix SoundCloud album cover URLs - use correct field name
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
Due: django-check, django-import-check, python-import-check

Remove FFmpeg dependency from playlist ETL workflow
  .github/workflows/playlist_etl.yml
Due: none

Complete FFmpeg removal from repository
  .github/workflows/playlist_etl.yml
Due: none

Fix Unicode handling for playlist and track names across all services
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
  django_backend/core/services/apple_music_service.py
  django_backend/core/services/spotify_service.py
  django_backend/core/utils/utils.py
Due: django-check, django-import-check, python-import-check

Fix UTC import fallback - was referencing undefined variable
  django_backend/core/utils/utils.py
Due: django-check, python-import-check

Fix playlist header links to navigate externally instead of opening in embedded player
  docs/main.js
  docs/servicePlayer.js
Due: none

Fix SpotDL FFmpeg dependency issue by using dummy executable
  playlist_etl/spotdl_client.py
Due: python-import-check

Upgrade project to Python 3.13+ - remove all version fallbacks
  .github/workflows/playlist_etl.yml
  .github/workflows/postgres-migration.yml
  .github/workflows/view_count_postgresql.yml
  CLAUDE.md
  Dockerfile
  Makefile
  django_backend/core/utils/utils.py
  mypy.ini
  pyproject.toml
Due: django-check, python-import-check

Implement blue-green ETL deployment strategy with run-based data isolation
  .pre-commit-config.yaml
  django_backend/core/management/commands/a_playlist_etl.py
  django_backend/core/management/commands/playlist_etl/d_raw_playlist.py
  django_backend/core/management/commands/playlist_etl/e_playlist_service_track.py
  django_backend/core/management/commands/playlist_etl/f_track.py
  django_backend/core/management/commands/playlist_etl/g_aggregate.py
  django_backend/core/migrations/0003_auto_20250911_1510.py
  django_backend/core/models/d_raw_playlist.py
  django_backend/core/models/e_playlist.py
  django_backend/core/models/f_track.py
Due: django-check, django-import-check, python-import-check

Fix GitHub Actions cache issues and add fail-fast credential validation
  .github/workflows/deploy_worker.yml
  django_backend/core/cache.py
Due: django-check, python-import-check

Add Railway PostgreSQL migration step to playlist ETL workflow
  .github/workflows/playlist_etl.yml
Due: none

Fix migration step by adding missing Cloudflare KV credentials
  .github/workflows/playlist_etl.yml
Due: none

Fix migration 0002 to use PostgreSQL syntax instead of SQLite
  django_backend/core/migrations/0002_fix_view_counts_schema.py
Due: django-check, python-import-check

Regenerate Django migrations with PostgreSQL-compatible syntax
  django_backend/core/migrations/0001_initial.py
  django_backend/core/migrations/0002_fix_view_counts_schema.py
  django_backend/core/migrations/0003_auto_20250911_1510.py
Due: django-check, python-import-check

Fix unique constraints to include etl_run_id for blue-green deployments
  django_backend/core/migrations/0002_drop_old_unique_constraints.py
Due: django-check, python-import-check

Fix playlist unique constraints to include etl_run_id
  django_backend/core/migrations/0003_fix_playlist_unique_constraints.py
Due: django-check, python-import-check

Fix ServiceTrack unique constraint to include etl_run_id
  django_backend/core/cache.py
  django_backend/core/management/commands/view_count/b2_extract_youtube.py
  django_backend/core/management/commands/view_count/b_extract_spotify.py
  django_backend/core/management/commands/view_count/view_count.py
  django_backend/core/migrations/0004_fix_service_track_constraints.py
  django_backend/core/settings.py
Due: django-check, django-import-check, python-import-check

Add requirements.txt for Django Migration workflow
  django_backend/requirements.txt
Due: check-pip-dependencies

Remove local tunemeld package from requirements.txt
  django_backend/requirements.txt
Due: check-pip-dependencies

Switch Django Migration workflow to use pyproject.toml
  .github/workflows/postgres-migration.yml
  FRONTEND_STYLING_PLAN.md
  django_backend/requirements.txt
  docs/404.html
  docs/StateManager.js
  docs/chart.js
  docs/config.js
  docs/css/title.css
  docs/genre-loader.js
  docs/genre-manager.js
  docs/graphql-client.js
  docs/header.js
  docs/html/title.html
  docs/index.html
  docs/playlist-metadata.js
  docs/playlist.js
  docs/privacy-policy.html
  docs/router.js
  docs/selectors.js
  docs/terms-of-use.html
  docs/title.js
Due: check-pip-dependencies

Path conditions:
  django-check: any of: ^django_backend/.*\.py$
  django-import-check: any of: ^django_backend/core/management/commands/.*\.py$
  check-pip-dependencies: any of: requirements\.txt$
  python-import-check: any of: \.py$, but not: (?x)^(
  venv/.*|
  .venv/.*|
  .tox/.*|
  migrations/.*
)$

