Repository EliJaghab/tunemeld: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy-type-check
        entry: make lint
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-check
        name: ruff-check
        entry: make ruff-check
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-fix
        name: ruff-fix
        entry: make ruff-fix
        language: system
        pass_filenames: false
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: make ruff-format
        language: system
        pass_filenames: false
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|md|html)$
        exclude: |
          (?x)^(
            node_modules/.*|
            venv/.*
          )$

  - repo: local
    hooks:
      - id: clear-python-cache
        name: Clear Python cache files
        entry: make clean-cache
        language: system
        pass_filenames: false
        always_run: true

      - id: django-check
        name: Django initialization check
        entry: make django-check
        language: system
        pass_filenames: false

      - id: django-import-check
        name: Django management command import test
        entry: make django-import-check
        language: system
        pass_filenames: false

      - id: check-pip-dependencies
        name: Check pip dependency compatibility
        entry: bash -c "cd django_backend && source venv/bin/activate && python -m pip install --dry-run -e .."
        language: system
        pass_filenames: false
        verbose: false

      - id: python-import-check
        name: Python import validation
        entry: python -m py_compile
        language: python
        language_version: python3.13
        types: [python]
        exclude: |
          (?x)^(
            venv/.*|
            .venv/.*|
            .*/migrations/.*
          )$

      - id: backend-startup-check
        name: Backend startup validation
        entry: make backend-startup-check
        language: system
        pass_filenames: false

Update documentation to reflect Railway deprecation and Vercel migration
  CLAUDE.md
  README.md
Due: none

Update GitHub Actions workflows to remove Railway references
  .github/workflows/play_count.yml
  .github/workflows/playlist_etl.yml
Due: none

Complete frontend TypeScript migration and development setup
  Makefile
  frontend/index.html
  frontend/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/genreButtons.ts
  frontend/src/components/playlist.ts
  frontend/src/components/playlistHeader.ts
  frontend/src/components/rankButton.js
  frontend/src/components/rankButton.ts
  frontend/src/components/servicePlayer.ts
  frontend/src/components/shimmer.ts
  frontend/src/components/title.js
  frontend/src/components/title.ts
  frontend/src/config/config.ts
  frontend/src/config/constants.ts
  frontend/src/config/tableStructures.ts
  frontend/src/main.ts
  frontend/src/routing/router.ts
  frontend/src/services/graphql-client.ts
  frontend/src/state/StateManager.ts
  frontend/src/themeInit.ts
  frontend/src/tosPrivacy.ts
  frontend/src/types/index.ts
  frontend/src/utils/error-handler.ts
  frontend/src/utils/formatting.ts
  frontend/src/utils/selectors.ts
  frontend/themeInit.js
  frontend/tsconfig.json
Due: none

Complete Railway deprecation: remove railway.toml and update Dockerfile comment
  Dockerfile
  railway.toml
Due: none

Fix Vercel deployment: add build command to compile TypeScript
  vercel.json
Due: none

Unify frontend and backend on single Vercel domain
  frontend/src/config/config.ts
Due: none

Update Vercel configuration to proxy API calls
  vercel.json
Due: none

Fix datetime serialization in Track domain object
  backend/core/types.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix GraphQL Pydantic validation errors for mixed data formats
  backend/core/graphql/playlist.py
  backend/core/types.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix import sorting after domain types migration
  backend/core/api/genre_service_api.py
  backend/core/api/play_count.py
  backend/core/graphql/playlist.py
  backend/core/management/commands/playlist_etl_modules/d_playlist_service_track.py
  backend/core/models/__init__.py
  backend/domain_types/__init__.py
  backend/domain_types/types.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Complete database migration reset and mypy configuration fixes
  backend/.gitignore
  backend/core/migrations/0001_initial.py
  backend/core/migrations/0002_alter_rawplaylistdata_playlist_cover_url.py
  backend/core/migrations/0003_alter_rawplaylistdata_playlist_cover_url.py
  backend/core/migrations/0004_rename_historicalviewcount_historicaltrackviewcount_and_more.py
  backend/core/migrations/0005_remove_historicaltrackviewcount_delta_count_and_more.py
  backend/core/migrations/0006_service_description_and_more.py
  backend/core/migrations/0007_remove_service_description.py
  backend/core/migrations/0008_rank.py
  backend/core/migrations/0009_alter_rank_options_and_more.py
  backend/core/migrations/0010_add_is_default_to_rank.py
  backend/core/migrations/0011_remove_is_default_from_rank.py
  backend/core/migrations/0012_rank_data_field.py
  backend/core/migrations/0013_update_icon_fields_to_url.py
  backend/core/migrations/0014_populate_icon_urls.py
  backend/core/migrations/0015_make_icon_url_required.py
  backend/core/migrations/0016_add_weekly_change_and_total_service.py
  backend/core/migrations/0017_create_total_service.py
  backend/core/migrations/0018_add_aggregate_view_count.py
  backend/core/migrations/0019_remove_rank_icon_url.py
  backend/core/migrations/0020_restructure_aggregate_view_count.py
  backend/core/migrations/0021_rename_models_to_play_count.py
  backend/core/migrations/0022_add_etl_run_id_to_lookup_tables.py
  backend/core/migrations/0023_fix_unique_constraints_for_etl_run_id.py
  backend/core/migrations/0024_remove_duplicate_lookup_records.py
  backend/core/migrations/0025_clean_slate_lookup_tables.py
  backend/core/migrations/0026_add_icon_class_fields.py
  backend/core/migrations/0027_remove_etl_run_id_from_genre_service.py
  backend/core/migrations/0028_remove_etl_run_id_from_rank.py
  backend/core/migrations/0029_remove_etl_run_id_from_tracks.py
  backend/core/migrations/0030_remove_playlist_playlists_etl_run_a70eb6_idx_and_more.py
  backend/core/migrations/0031_handle_existing_aggregate_table.py
  pyproject.toml
Due: mypy, ruff-check, ruff-fix, ruff-format

Remove duplicate gitignore file from backend folder
  backend/.gitignore
Due: none

Fix migration safety check for fresh database setup
  backend/migration_safety_check.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Add missing dependencies to pyproject.toml for GitHub Actions
  pyproject.toml
Due: none

Fix domain object serialization and add null checks in ETL pipeline
  .nojekyll
  backend/core/management/commands/playlist_etl_modules/c_raw_playlist.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix domain object serialization and null checks in f_aggregate.py
  backend/core/management/commands/playlist_etl_modules/f_aggregate.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix Django ORM reverse foreign key reference in f_aggregate.py
  backend/core/management/commands/playlist_etl_modules/f_aggregate.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix ETL bugs and improve code quality across the board
  .nojekyll
  backend/core/api/play_count.py
  backend/core/graphql/genre.py
  backend/core/graphql/playlist.py
  backend/core/graphql/service.py
  backend/core/graphql/track.py
  backend/core/management/commands/play_count.py
  backend/core/management/commands/play_count_modules/a_historical_play_count.py
  backend/core/management/commands/play_count_modules/b_aggregate_play_count.py
  backend/core/management/commands/playlist_etl_modules/g_clear_and_warm_track_cache.py
  backend/core/migrations/0002_rename_play_count_models.py
  backend/core/models/__init__.py
  backend/core/models/play_counts.py
  backend/core/utils/redis_cache.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix GraphQL architecture violations and centralize cache logic
  backend/core/api/play_count.py
  backend/core/graphql/button_labels.py
  backend/core/graphql/genre.py
  backend/core/graphql/play_count.py
  backend/core/graphql/playlist.py
  backend/core/graphql/service.py
  backend/core/graphql/track.py
  backend/domain_types/types.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix Django WSGI Python path for Vercel serverless functions
  api/django_app.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix Vercel Python runtime to 3.13
  vercel.json
Due: none

Fix Vercel Python runtime to 3.12 (highest supported)
  vercel.json
Due: none

Fix Vercel Python configuration to use modern functions approach
  vercel.json
Due: none

Remove builds section, use pure functions configuration
  vercel.json
Due: none

Fix Python runtime version format
  vercel.json
Due: none

Use wildcard pattern for Python functions matching
  vercel.json
Due: none

Fix Vercel serverless function deployment for Django backend
  api/django_app.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix GitHub Actions playlist ETL workflow issues
  .github/workflows/play_count.yml
  .github/workflows/playlist_etl.yml
  pyproject.toml
Due: none

Fix Vercel serverless function deployment patterns
  api/django_app.py
  api/test.py
  backend/core/settings.py
  vercel.json
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix Vercel routing pattern using Flask example approach
  api/index.py
  vercel.json
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix Vercel deployment by reducing package size under 250MB limit
  api/requirements.txt
Due: none

Simplify vercel.json to minimal working configuration
  vercel.json
Due: none

Fix Vercel functions pattern configuration
  vercel.json
Due: none

Clean up unnecessary API files, keep only essential index.py
  api/django_app.py
  api/test.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Add minimal test function to debug Vercel deployment
  api/hello.py
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Remove functions config to let Vercel auto-detect Python functions
  api/test.py
  vercel.json
Due: mypy, ruff-check, ruff-fix, ruff-format, python-import-check

Fix output directory configuration for Vercel
  vercel.json
Due: none

Add explicit Python function configuration
  vercel.json
Due: none
